.posts-heading {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
}

.posts-content {
    background-color: #e3fdfd;
}

body     {
    margin: 0;
    font-size: 1.0rem;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/blue.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.new-post {
    float: right;
}

hr {
    border-color: #ffffff;
}

#mainNav {
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

#mainNav a {
    color: #ffffff;
    /*opacity: 1;*/
    /*text-shadow: #444 0 1px 1px;*/
}

