{% extends 'base.html' %}

{% block head %}
  <title>Full Posts</title>
{% endblock %}

{% block body %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
  <h1>Full Context</h1>
  <hr>
  <form action="/ckeditor/details/{{ posts.id }}">
    <label for="title"><strong>Title: </strong></label>
    <p class="lead">{{ posts.title }}</p>
    <br>
    <label for="author"><strong>Author: </strong></label>
    <p class="lead">{{ posts.time }} <strong>Written by</strong> {{ posts.author }}</p>
    <br>
    <label for="content"><strong>Context: </strong></label>
    <p class="lead">{{ posts.body|safe }}</p>
    <br>
    <input type="button" name="Submit" value="返回" onclick="javascript:history.back()" />
  </form>
  <hr>

{% endblock %}