<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<title>Flask-CKEditor Demo</title>
</head>
<body>
	<div class="warpper" style="width: 700px; margin: auto">
	{% for data in cdk_db %}
		<div>
		{% if data.title %}
          <p class="lead"><em>Title: {{ data.title }}</em></p>
        {% else %}
          <p class="lead"><em>Written by Unknown on</em></p>
        {% endif %}
        {% if data.body %}
        	 <p class="lead"><em>Content: {{ data.body|safe }}</em></p>
       	{% else %}
       	 	 <p class="lead"><em>Written by Unknown on</em></p>
        {% endif %}
		<hr>
	    </div>
	 {% endfor %}
		<a href="{{ url_for('posts') }}">Back Blogs</a>
	</div>
</body>
</html>
