<title>Spam Detect</title>
{% extends 'base.html' %}

{% block head %}
  <title>Detector</title>
{% endblock %}

<body>
{% block body %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css')}}">
	<br>
	<br>
  	<h2 align="center" style="color:white">Spam Detector For SMS Message</h2>
  	
  	<br>
  	<br>
	<form action="{{ url_for('predict')}}" method="POST">
	<h5><p style="color:white; font-size:45;text-align: center;">请输入你的邮件（英文邮件）</p>
	</h5>
	<br>
		<!-- 让输入文本框居中 -->
		<div class="myta" style="text-align:center; vertical-align:middle;">
		<textarea name="message" rows="4" cols="50"></textarea>
		<br>
		<input type="submit" class="btn-info" value="predict">
		</div>
	</form>
{% endblock %}
</body>