{% extends 'base.html' %}

{% block body %}

<br><br>
<h3>Login Page</h3>
<br><br>
<!--判断，如果是管理用则可以选择登出操作-->
{% if current_user.is_anonymous %}
<form action="{{ url_for('login') }}" method="POST">
	<label for='username'>Username</label>
    <input type="text" name="username" required placeholder="input username">
   
    <!-- 密码输入框的 type 属性使用 password，会将输入值显示为圆点 -->
    <label for='password'>Passwd</label>
    <input type="password" name="password" required placeholder="input password">
    <input class="btn" type="submit" name="submit" value="Submit">
 	
</form>
{% else %}
<h3>You are admin, do you want to logout?</h3> <br>
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
{% endblock %}