<title>Blogs</title>
{% extends 'base.html' %}

{% block head %}
  <title>Posts</title>
{% endblock %}

<body class="posts-page">
{% block body %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/view-post.css') }}">
  <div class="row header-row">
    <div class="col-lg-6">
      <h3 class="posts-heading">Blogs</h3>
    </div>
    <div class="col-lg-6">
      <a class="new-post btn btn-success btn-lg" href="{{ url_for('new_posts') }}">+ New Posts</a>
      <a class="new-post btn btn-primary btn-lg" href="{{ url_for('cked') }}">+ New Posts(md)</a>

    </div>
  </div>

  <hr>
  <br>
  <div class="container-fluid">
    {% for post in post_db %}
      <div class="jumbotron posts-content">
        <!--显示大小-->
        <h6 class="display-7">{{ post.title }}</h6>

        {% if post.author %}
          <p class="lead"><em>Written by: {{ post.author }} on {{ post.date_posted }}</em></p>
        {% else %}
          <p class="lead"><em>Written by Unknown on {{ post.date_posted }}</em></p>
        {% endif %}
        <br>
        <p style="white-space: pre-wrap">{{ post.content|striptags|truncate(15) }}
          <small><a href="/posts/details/{{ post.id }}">Read More</a></small>
        </p>
      </div>
      <a class="btn btn-danger" href="/posts/delete/{{ post.id }}">删除</a>
      <a class="btn btn-dark" href="/posts/edit/{{ post.id }}">修改</a>
      <hr>

    {% endfor %}
  </div>


 
   {% for data in cdk_db %}
     <div class="jumbotron posts-content">
        <h7>Markdown style</h7>
        {% if data.author %}
          <p class="lead"><em>Author: {{ data.author }} Written by {{ data.time }}</em></p>
        {% else %}
          <p class="lead"><em>Written by Unknown on</em></p>
        {% endif %}
        {% if data.title %}
          <p class="lead"><em>Title: {{ data.title }}</em></p>
        {% else %}
          <p class="lead"><em>Written by Unknown on</em></p>
        {% endif %}
        {% if data.body %}
           <p style="white-space: pre-wrap">{{ data.body|striptags|truncate(50) }}
           <small><a href="/ckeditor/details/{{ data.id }}">Read More</a></small>
          <!-- <p class="lead"><em>Content: {{ data.body|safe }}</em></p>-->
        {% else %}
           <p class="lead"><em>Written by Unknown on</em></p>
        {% endif %}
        <br>
      <hr>
      
    <a class="btn btn-danger" href="/ckeditor/delete/{{ data.id }}">删除</a>
    <a class="btn btn-dark" href="/ckeditor/edit/{{ data.id }}">修改</a>
    </div>
   {% endfor %}
   <!-- <a href="{{ url_for('posts') }}">Back Blogs</a>-->
  </div>


{% endblock %}
</body>